@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a; /* Dark background */
  --foreground: #ededed; /* Light text for dark mode */
  --link-color: #82aaff;
  --header-background: #0a0a0a;
}

[data-theme="light"] {
  --background: #ffffff; /* Light background */
  --foreground: #171717; /* Dark text for light mode */
  --link-color: #1a73e8;
  --header-background: #ffffff;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth; /* Smooth scrolling between sections */
  height: 100%; /* Ensures the body takes full height */
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start; /* Align each section to the top of the viewport */
  height: 100vh; /* Full viewport height */

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px; /* Adjust for fixed header */
  opacity: 0; /* Initially hide the sections */
  transition: opacity 0.7s ease-in-out;
}

/* Ensure smooth fading transitions */
.fade {
  transition: opacity 0.7s ease-in-out; /* Smooth transition */
}

/* Initially hidden */
.fadeOut {
  opacity: 0;
}

/* Visible when in view */
.fadeIn {
  opacity: 1;
}

/* Header Styles */
header {
  background-color: black;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

header a {
  color: var(--link-color);
  text-decoration: none;
  margin: 0 10px;
}

header a:hover {
  color: var(--link-hover-color);
}

button {
  margin: 20px;
  padding: 10px 20px;
  background-color: var(--header-background);
  color: var(--foreground);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
